*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kalam', cursive;
}
a{
    text-decoration: none;
}

/* utility\ */
.d_flex{
    display: flex;
}
.d_flex_col{
    display: flex;
    flex-direction: column;
}
.d_flex_center{
    justify-content: center;
}
/* ///utility */


/* background */
.background{
    background-color: aqua;
    height: 100vh;
    width: 100vw;
    position: relative;
}
.background_top{
    height: 10%;
    width: auto;
    background-image: url("../img/grifondoro_banner.jpg");
    background-size: contain;
}
.background_bottom{
    height: 90%;
    width: 100%;
    background-color: #BA2438;
}
.chat_container{
    width: 1425px;
    height: 800px;
}
.center{
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%);
    
}

/* SIDEBAR LEFT */
.sidebar_left{
    width: 35%;
    height: 100%;
}

/* header left */
.header_left{
    height: 80px;
    width: 100%;
    background-color: #EAEAEA;
    justify-content: space-around;
    align-items: center;
}
.header_left img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    cursor: pointer;
}
.header_left span{
    font-weight: 400;
    font-size: 28px;
    cursor: pointer;
}
.header_left i {
    color: #B1B1B1;
    font-size: 24px;
    cursor: pointer;
}
/* ///header left */


/* notifiche */
.notifiche{
    height: 10%;
    width: 100%;
    background-color: #CB9746;
    align-items: center;
    padding: 20px;
    font-size: 18px;
    cursor: pointer;
}
.notifiche i{
    color: #CB9746;
    font-size: 28px;
    background-color: white;
    padding: 12px;
    border-radius: 100%;
    margin-right: 10px;
}
/* ///notifiche */

/* search */
.search{
    width: 100%;
    height: 80px;
    background-color: #E0D6CD;
    padding: 10px;
}
.search input{
    width: 100%;
    height: 100%;
    border: none;
    padding: 10px;
    font-size: 20px;
    padding-left: 50px;
}
.search i {
    position: absolute;
    padding: 15px;
    color: grey;
    font-size: 18px;
}
/* ///search */


/* contatti */
.contatti{
    height: 560px;
    width: 100%;
    background-color: white;
    overflow-y: scroll;
}
.contatto{
    align-items: center;
    height: 80px;
    border-bottom: 1.5px solid grey;
    padding: 10px;
}
.contatto img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 1px solid lightgrey;
    cursor: pointer;
}
.contatto span{
    font-weight: 300;
    font-size: 26px;
    cursor: pointer;
    padding-left: 10px;
}
.contatto_cliccato{
    background-color: grey;
}

/* ///contatti */




/* sidebar RIGHT */
.sidebar_right{
    width: 65%;
    height: 100%;
}
.header_right{
    height: 10%;
    width: 100%;
    background-color: #EAEAEA;
}
.chat_window{
    height: 80%;
    width: auto;
    background-image: url("../img/sfondo_chat.jpg");
    background-size: contain; 
    overflow-y: scroll;

}
.write{
    height: 10%;
    width: 100%;
    background-color: #FAFAFA;
}