<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/style.css">
    <title>millestone1 - HogwartZapp</title>
</head>
<body>
    <div class="container">
        <div class="background">
            <div class="background_top">
            </div>
            <div class="background_bottom"></div> 
        </div>

        <div id="app" class="center">
            <div class="chat_container d_flex">
                <div class="sidebar_left">
                    <div class="header_left d_flex">
                            <img src="assets/img/harry.jpg" alt="">
                            <span>Harry Potter</span>  
                            <i class="fas fa-circle-notch"></i>
                            <i class="fas fa-comment-alt"></i>
                            <i class="fas fa-ellipsis-v"></i>
                        <!-- <i class="fas fa-search"></i>
                        <i class="fas fa-paperclip"></i>
                        <i class="fas fa-microphone"></i>
                        <i class="far fa-smile"></i> -->
                    </div>
                    <div class="notifiche d_flex">
                        <i class="fas fa-bell-slash"></i>
                        Attiva per ricevere notifiche dai Serpeverde
                    </div>
                    <div class="search d_flex">
                        <i class="fas fa-search"></i>
                        <input type="search" placeholder="Cerca o inizia una nuova chat">
                    </div>
                    <ul class="contatti" v-if="contatti.length > 0">
                        <li v-for="contatto in contatti" class="contatto d_flex" >
                            <img :src="contatto.avatar">
                            <span>{{contatto.name}}</span>
                        </li>
                    </ul>
                   
                </div>


                <div class="sidebar_right">
                    <div class="header_right">
                        nome contatto
                    </div>
                    <div class="chat_window" >
                        <div v-for="message in chatShown.messages"  :class="message.status === 'sent' ? 'sent' : 'received'" >
                            {{message.text}}
                            <div class="when">
                                {{message.date}}
                            </div>
                            
                        </div>
                        
                        

                        <!-- <div class="sent">
                            <div class="message">
                                sent
                            </div>
                            <div class="when">
                                qwertyuiop
                            </div>
                        </div>
                        
                        <div class="received">
                            <div class="message">
                                received 
                            </div>
                            <div class="when">
                                asdfghjkl
                            </div>
                        </div> -->

                        
                    </div>
                    <div class="write">
                        scrivi un messaggio
                    </div>
                </div>
    
    
            </div>
    
        </div>

    </div>
      

        

       
    

    
    <!-- vueJs -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- js -->
    <script src="./assets/js/main.js"></script>
</body>
</html>